.loginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.loginbar {
  width: 30%;
  height: 50%;
  display: flex;
  border: 1px solid gold;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  flex-direction: column;

  .input {
    padding: 10px;
    height: 15%;
    width: 70%;
    border: 1px solid gold;
    border-radius: 10px;

    input {
      padding: 10px;
      height: 100%;
      width: 90%;
      border: none;
      border-radius: 10px;
    }
    input:focus {
      outline: none;
    }
  }
}
